/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header{
    padding-top: 30px;
    padding-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav div a {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
}

.lien-actif:hover{
    color: #0065FC;
    border-top:2px solid #0065FC;
}

.lien-inactif:hover{
    color: #0065FC;
    border-top:2px solid #0065FC;
}

.logo-header{
    width: 30%;
}

/****** contenue top ***********/

h1{
    font-weight: 700;
    font-size: 22px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 35px;
}
.sous-titre{
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 35px;
}


.recherche .fa-solid {
    color: black;
    padding: 18px 18px 18px 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-top: 10px;
}

.recherche{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-bottom: 35px; 
}

.ville {
    border: 0.5px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 14.5px 18px 14.5px 18px;
    margin-left: 0px;
}

.cta {
    border: none;
    padding: 15px 18px;
    background-color: #0065FC;
    color: #FFFFFF;
    margin-left: -12px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0px 14.5px 14.5px 0px;
    margin-top: 10px;
}

#loupe {
    color: white;
    padding: 20px 18px 20px 18px;
    background-color: #F2F2F2;
    margin-top: 8px;
    border-radius: 20px 20px;
    background-color: #0065FC;
    margin-left: -12px; 
}
form button {
    display:none;
    border: none;
    outline: none;
    background-color: white;
}


/****** Filter ***********/

.filtres{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-bottom: 35px;
}

.filtres ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 0px;
}

div ul li .fa-solid{
    padding-right: 10px;
}

.filtres p{
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.filtres ul li {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding: 10px 20px;
    margin-left: 15px;
}
.filtres ul li:hover{
    background-color: #DEEBFF;
}
.infos-filtre i{
    margin-right: 10px;
    color: #D9D9D9;
    margin-bottom: 35px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    
}

.hebergement-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.hebergement-cards .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 33px; 
    width: 30%;
}

.hebergement-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergement-cards .card-content {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
}

.hebergement-cards .card-rating {
    margin-bottom: 5px;
}

.hebergement-plus{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

.activites{
    padding: 30px;
    margin-top: 30px;
}

.activites-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 33px; 
    width: 23%;
    padding: 0px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

/****** footer ***********/
.footer{
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 35px;
}

.footer article{
    flex-direction: column;
    margin-right: 250px;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.footer h4 {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/****** header ***********/
    h1{
        margin-top: 30px;
        margin-bottom: 8px;
    }


    .filtres{
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: start;
    }

    .filtres ul{ 
        align-items: start;
        padding-left: 0px;
    }
    .filtres ul li{
        margin-right: 15px;
        margin-left: 0px;
        margin-top: 20px;
        font-size: 15px;
    } 

    .card-title {
        font-size: 14px;
    }

    .card-subtitle{
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img { 
        height: 200px; 
    }

    .footer article{
        margin-right: 120px;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


    .main-container { 
        padding: 0px; 
    }
    /* header */ 
    
    nav { 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    nav div a {
        padding-bottom: 15px;
        padding: 15px 20px;
        margin-left: 0px;
        border-bottom:2px solid #F2F2F2;
    }

    .lien-actif:hover{
        color: #0065FC;
        border-bottom:2px solid #0065FC;
        border-top: 0px;
    }
    
    .lien-inactif:hover{
        color: #0065FC;
        border-bottom:2px solid #0065FC;
        border-top: 0px;
    }
    
    .logo-header{
        width: 40%;
        padding-bottom: 30px;
        margin: auto;
        display: flex;
    } 

    .recherche{
        justify-content: center;
    }

    .ville {
        padding: 14.5px 0px 14.5px 18px;
    }

    form button
    {
        display: inline;
    }

    .cta{
        display: none;
    }


    .filtres{
        padding: 0 20px;
    }

    .infos-filtre{
        padding: 0 20px;
    }

    .filtres ul{ 
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    } 
    .filtres ul li{
        width: 33%;
    }

    h1 {
        padding: 0 20px;
    }
    .sous-titre{
        padding: 0 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 20px;
    }

    .populaires{
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .populaires-cards img {
        height: 146px;
    }
    
    .hebergements {
        background-color: #FFFFFF;
    }
    
    .hebergement-cards{
        display: flex;
        flex-direction: column; 
    }
    
    .hebergement-cards .card {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 33px; 
        width: 100%;
    }
    
    .hebergement-cards img {
        width: 100%;
        height: 124px;
    }
    
    .hebergement-cards .card-content {
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
    }
    
    .hebergement-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .hebergement-cards .card-subtitle {
        margin: 0;
    }
    
    .hebergement-cards .card-rating {
        margin-bottom: 5px;
    }
    
    .hebergement-plus{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 30px;
    }

    /****** Activités ***********/

.activites{
    padding: 30px;
    margin-top: 30px;
}

.activites-cards{
    flex-direction: column;
}

.activites-cards .card { 
    margin-top: 33px; 
    width: 100%;
    padding: 0px;
}

.activites-cards img {
    height: 141px;
}
.footer{
    flex-direction: column;
}

.footer article{
    margin-bottom: 50px;
    margin-right: 0px;
}

}