/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.tuile {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.tuile img {
    object-fit: cover;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header{
    padding-top: 30px;
    padding-bottom: 30px;
    
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav div a {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.lien-actif{
    color: #0065FC;
    border-top:2px solid #0065FC;
}

.lien-inactif{
    padding-left: 30px;
}

.logo-header{
    width: 30%;
}

/****** contenue top ***********/

h1{
    font-weight: 700;
    font-size: 22px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 35px;
}
.sous-titre{
    font-weight: 400;
    font-size: 16px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 35px;
}


.recherche .fa-solid {
    color: black;
    padding: 15px 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-top: 0;
}
.recherche{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-bottom: 35px;
}

#ville {
    vertical-align: middle; 
    border: 0.5px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 12px 18px;
}

input[type='submit'] {
    border: none;
    padding: 12px 18px;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
}

/****** Filter ***********/

.filtres{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-bottom: 35px;
    width: 65%;
}

.filtres ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 0px;
}

div ul li .fa-solid{
    padding-right: 10px;
}

.filtres p{
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.filtres ul li {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    padding: 10px 20px;
    margin-left: 15px;
}
.filtres ul li:hover{
    background-color: #DEEBFF;
}
.infos-filtre i{
    margin-right: 10px;
    color: #D9D9D9;
    margin-bottom: 35px;
}


/****** Hebergements And Populaires ***********/
h2{
    font-weight: 700;
    font-size: 22px;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}



.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;

    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.tuile-hebergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tuile-hebergement .tuile{
    margin-right: 30px;
    margin-bottom: 33px;
}

.tuile-hebergement img {
    width: 230px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #FFFFFF;
}
.tuile-hebergement .card-hebergement-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.tuile-hebergement .card-title {
    margin-bottom: 4px;
}

.tuile-hebergement .hebergement-subtitle {
    margin: 0;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.tuile-hebergement .card-rating {
    margin-bottom: 5px;
}

.hebergement-plus{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activité ***********/

.categorie-activite{
    margin-top: 30px;
}

.conteneur-activite{
    padding: 30px;
}

.activites{
    display: flex;
    justify-content: space-between;
}

.card-activite{
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card-activite img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
    height: 380px;
    width: 300px;
}

.card-activite h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
    padding-left: 19px;
}

/****** footer ***********/
.footer{
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 35px;
}

.footer article{
    flex-direction: column;
    margin-right: 250px;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.footer h4 {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}